extends ./layout

append extraStyles
  link(rel="stylesheet" href=static_url("css/index.css"))

block content
  #carouselExample.carousel()
    .carousel-inner
      - var counter = 1
      while counter < 4
        .carousel-item(class=(counter == 1 ? 'active' : null))
          img.d-block.w-100(src=static_url('imgs/carousel-' + counter++ + '.jpg'), alt='curousel-img')
    button.carousel-control-prev(type='button' data-bs-target='#carouselExample' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button' data-bs-target='#carouselExample' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next

  //- Features

  .features.py-4
    .container
      h1.text-secondary Features
      .row
        - var counter = 1
        while (counter <= 6)
          .col.col-12.col-md-6.col-lg-4.flex-grow-1.p-2
            div.feat.rounded.p-4.easly-effect
              h3.feat-title.text-secondary Feature ##{counter++}
              p.feat-desc Proident cillum exercitation excepteur exercitation magna Lorem velit quis incididunt

